<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_PATH" value="${APP_HOME:-.}/logs"/>
    <!-- 引用公共配置 -->
    <jmxConfigurator/>
    <!-- 非生产环境环境. -->
    <springProfile name="dev">
        <logger name="com.dong.springcloud" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="ALIYUN"/>
        </root>
    </springProfile>
    <springProfile name="uat">
        <logger name="com.dong.springcloud" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="ALIYUN"/>
        </root>
    </springProfile>
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.dong.springcloud" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="ALIYUN"/>
        </root>
    </springProfile>
</configuration>